@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-newsreader: "Newsreader", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-newsreader);
}

.section {
  @apply py-24 md:py-32 lg:py-40;
}

.box {
  @apply container !max-w-full px-4 md:px-8 lg:px-16;
}

.line {
  @apply overflow-hidden;
}

.word {
  @apply opacity-0;
}
